:root {
  --primary: #fff;
  --letters: #000;
  --secoundary: #e8e5e480;
  --letters-gray: #7f7f7f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 25px 20px;
  gap: 120px;
}

nav {
  width: 266px;
  background-color: var(--secoundary);
  border-radius: 50px;
  font-size: 0.9em;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 12px 12px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 111111;
  opacity: 1;
}

nav.active {
  width: 266px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  font-size: 0.9em;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 12px 12px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 111111;
  opacity: 1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--letters);
  padding: 8px 20px;
  border-radius: 50px;
}

nav ul li a.active {
  background-color: #fff;
}

nav ul li a.home-active {
  background-color: var(--primary);
}

nav ul li a.profile-active {
  background-color: var(--primary);
}

nav ul li a.contact-active {
  background-color: var(--primary);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 120px;
}

header .header-title {
  font-size: 1.7em;
  padding: 30px 320px;
}

header .header-p {
  display: flex;
  gap: 32px;
  font-size: 14px;
  justify-content: center;
}

.home-main {
  display: grid;
  grid-template-columns: 650px 650px;
  gap: 20px;
  justify-content: center;
  padding: 30px 0;
}

.home-main img {
  width: 640px;
  border-radius: 12px;
  cursor: pointer;
  transition: ease 0.6s;
  clip-path: inset(0);
}

.home-main video {
  width: 100%;
  border-radius: 12px;
  cursor: pointer;
  transition: ease 0.6s;
  clip-path: inset(0);
}

.home-main img:hover {
  filter: blur(0.4em);
}

.home-main video:hover {
  filter: blur(0.4em);
}

.lwt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.8em;
}

.lwt a {
  color: var(--letters-gray);
  text-decoration: none;
}

.lwt a:hover {
  color: #b9b7b7;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.social {
  display: flex;
  gap: 18px;
}

.social p a {
  text-decoration: none;
  color: var(--letters);
}

.social p a:hover {
  color: var(--letters-gray);
}

.header h1 {
  margin: 215px;
  font-size: 4em;
  font-weight: 500;
}

.header-images {
  display: flex;
  justify-content: center;
  gap: 21px;
}

.header-images img {
  width: 580px;
  border-radius: 9px;
}

.about {
  text-align: center;
  position: relative;
}

.about-p {
  background-color: var(--secoundary);
  padding: 6px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  width: 100px;
  border-radius: 25px;
}

.about h2 {
  padding: 48px 350px;
  font-size: 2em;
  font-weight: 600;
}

.experience-top {
  text-align: center;
  position: relative;
}

.experience-p {
  background-color: var(--secoundary);
  padding: 6px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 150px;
  border-radius: 25px;
}

.experience-top h2 {
  padding: 48px 350px;
}

.experiences-container {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.experience {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  margin-bottom: 50px;
}

.from-to {
  color: var(--letters-gray);
}

.company {
  font-weight: bold;
  font-size: 24px;
}
.function {
  color: var(--letters-gray);
}

.position {
  background-color: var(--secoundary);
  border-radius: 15px;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
}

.clients {
  text-align: center;
  position: relative;
  margin-top: 100px;
}

.clients-p {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--secoundary);
  width: 100px;
  border-radius: 25px;
  padding: 6px;
}

.clients h2 {
  padding: 48px 350px;
}

.clients-container {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  overflow-x: hidden;
}

.lwt-contact {
  margin: auto auto;
  text-align: center;
  padding: 30px;
}

.lwt-contact p {
  font-size: 4.5em;
}

.lwt-contact a {
  font-size: 4.5em;
  text-decoration: none;
  color: var(--letters-gray);
}

.lwt-contact a:hover {
  color: #b9b7b7;
}
